.guessScene {
    width: 1000px;
    height: 800px;
    margin: auto;
}

#champion {
    position: absolute;
    width: 450px;
    height: 450px;
    clip: rect(1, 200px, 200px, 0);
    margin-left: -225px;
    filter: blur(0px);
}

.goNext {
    border: 2px #E9F1F7 solid;
    border-radius: 10px;
    width: 50%;
    height: 120px;
    margin: auto;
    margin-top: 30px;
    z-index: 3;
    color: #E9F1F7;
    -webkit-text-stroke: 2px black; /* width and color */
    background-color: #131B23;
}

.goNext:hover {
    
    background-color: black;
}

.header {
    color: #E9F1F7;
    -webkit-text-stroke: 2px black; /* width and color */
}

.championSquare {
    width: 450px;
    height: 450px;
    margin: auto;

}

.headerBar {
    display: flex;
    justify-content: space-between;
}

.playAgain {
    border: 2px #E9F1F7 solid;
    border-radius: 10px;
    width: 300px;
    height: 105px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.playAgain:hover {
    background-color: black;
}

.playAgainFont {
    font-size: 50px;
    color: #E9F1F7;
    -webkit-text-stroke: 2px black; /* width and color */
}