.highScores {
    position: absolute;
    color: white;
    font-size: 35px;
    width: 550px;
    font-weight: bold;
    -webkit-text-stroke: 2px black; /* width and color */
    display: flex;
}

.hsNames {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 25px;
    
}

.hsPoints {
    margin-left: auto;
    padding-right: 15px;
}

.lbHeader {
    color: white;
    font-size: 40px;
    width: 550px;
    font-weight: bold;
    -webkit-text-stroke: 2px black; /* width and color */
}

h1 {
    font-size: 60px;
    margin-top: 15px;
}

.wrapper {
    z-index: 3;
    background: rgb(17,59,91);
    background: linear-gradient(90deg, rgba(17,59,91,1) 0%, rgba(91,130,167,1) 58%, rgba(91,130,167,1) 100%);
    height: 620px;
    width: 550px;
    border: 4px #E9F1F7 solid;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.position {
    padding-left: 15px;
}

.scoreWrapper {
    display: flex;
    width: 550px;
    border-top: 1px black solid;
    
}
