.points {
    color: white;
    position: absolute;
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 15px;
    -webkit-text-stroke: 2px black; /* width and color */
}